/**
* css reset
********************************************************************/

div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { margin:0 auto; padding:0; background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif;}
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}

.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

/*****************************************************************/

#dataTable {
    border-right: 2px solid black;
    border-bottom: 1px solid black;
    border-collapse: collapse;
    width: 695px;
    margin: 0 auto;
}

#dataTable th {
    border: 2px solid black;
    width: 11%;
}

#dataTable td {
    border-left: 1px solid black;
    border-top: 1px solid black;
    width: 9%;
}

input {
    width: 95%;
    height: 100%;
    text-align: center;
}

.mainDiv {
    margin: 0 auto;
    width: 1000px;
    height: auto;
    text-align: center;
    line-height: 30px;
}

#mainTable {
    display: none;
}

#eChartDiv {
    width: 1000px;
    height: 400px;
    display: none;
}

#loadingDiv{
    display: none;
    position: absolute;
    top: 20%;
    left: 40%;
    width: 20%;
    height: 20%;
    z-index: 1001;
    text-align:center;
}

.signalBtn{
    text-align: center;
    font-size: 1.2em;
    padding: 2px 10px;
}

.flexDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.signalInput{
    width: 80px;
    height: 30px;
    font-size: 1.2em;
}

#videoFlexDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#controlDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.pictureCanvas{
    background-color: #dcecf1;
}

#buttonDiv{
    width: 300px;
    float: right;
}